html {
	background-color: #303847;
	background-image: linear-gradient(to bottom right, #303847, #8a8c83);
}
body{
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #d0d1cd;
}
main {
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: 5;
}
.res-section {
	display: block;
	background-color: #1a2430;
	border: 5px solid #96988f;
	padding: 5px 15px;
	margin: 5px;
	border-radius: 15px;
	width: 350px;
	box-shadow: 0px 2px 2px #303847, 0px 0px 5px #303847;
}
h1 {
	text-align: center;
	margin: auto;
	padding: 10px 10px 20px 10px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	color: #d0d1cd;
}
img {
	border: 5px solid #96988f;
	box-shadow: 0px 2px 2px #303847, 0px 0px 5px #303847;
}
#portrait {
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	background-color: #1a2430;
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 4;
}
#center-info {
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}
#center-info h2 {
	text-align: center;
}
#poem-text {
	text-align: center;
}
#cat {
	text-align: center;
	margin: auto;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}
#cat img {
	width: 200px;
	border-radius: 15px;
}
#cat p {
	width: 300px;
}
a {
	color: #7892ad;
	text-decoration: none;
}
a:hover{
	color: #99bde2;
	text-decoration: underline;
}
#personal-interests {
	margin: auto;
	margin-top: 0px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
	width: 500px;
	display: block;
}
#personal-interests h2{
	text-align: center;
}
#fun-fact {
	margin: auto;
	height: 60px;
}
#class-schedule {
	margin: auto;
	width: auto;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}
#class-schedule th {
	width: 20px;
}
table {
	width: 100%;
	border: 2px solid #1a2430;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
td, th{
	text-align: center;
	padding: 10px;
	border: 1px solid #303847;
}
.time-slot {
	text-align: right;
	padding-right: 7px;
	width: 100px;
}
td.CS2550 {
	background-color: #648A55;
}
td.CS1410 {
	background-color: #8A7453;
}
td.Valorant {
	background-color: #85453C;
}
#separator {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
	height: 20px;
}